<header>
    <div class="logo">
        <img draggable="false" src="assets/img/white-logo.png" alt="">
    </div>
    <div id="menu" class="buttons">
        <a href="">Inicio</a>
        <a href="">Galeria</a>
        <a href="">Sobre</a>
        <a href="">Contato</a>
    </div>
    
    <div class="mobile">
        <button id="mobile"><img draggable="false" src="assets/svg/bars-solid.svg" alt=""></button>
    </div>
    <div id="social" class="social">
        <a href=""><img src="assets/svg/facebook-f.svg" alt=""></a>
        <a href=""><img src="assets/svg/instagram.svg" alt=""></a>
        <a href=""><img src="assets/svg/whatsapp.svg" alt=""></a>
        <a href=""><img src="assets/svg/youtube.svg" alt=""></a>
    </div>
</header>