<section>
    <h2>Convidados</h2>
    <div class="invited">
        <img src="assets/img/persons/1.jpg" alt="">
        <img src="assets/img/persons/2.jpg" alt="">
        <img src="assets/img/persons/3.jpg" alt="">
    </div>
    
</section>
<section>
    <h2>Evento</h2>

    <div class="event">
        <img src="assets/img/event/1.jpg" alt="">
        <img src="assets/img/event/2.jpg" alt="">
        <img src="assets/img/event/3.jpg" alt="">
        <img src="assets/img/event/4.jpg" alt="">
        <img src="assets/img/event/5.jpg" alt="">
        <img src="assets/img/event/6.jpg" alt="">
    </div>
  
</section>
<section>
    <h2>Lorem</h2>
    <div class="lorem">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</section>