<section>
    <div class="video">
        <video controls width="100%" autoplay>
            <source src="assets/videos/video.mp4" type="video/mp4">
        </video>
    </div>
</section>
<section id="event">
    <h2>Evento</h2>

    <div class="event">
        <img draggable="false" src="assets/img/event/1.webp" alt="">
        <img draggable="false" src="assets/img/event/2.webp" alt="">
        <img draggable="false" src="assets/img/event/3.webp" alt="">
        <img draggable="false" src="assets/img/event/4.webp" alt="">
        <img draggable="false" src="assets/img/event/5.webp" alt="">
        <img draggable="false" src="assets/img/event/6.webp" alt="">
    </div>
  
</section>
<section id="invited">
    <h2>Convidados</h2>
    <div class="invited">
        <div>
            <img draggable="false" src="assets/img/persons/1.webp" alt="">
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam aliquam temporibus veniam facilis sint vero. Harum, laborum pariatur cumque voluptate consequatur iste saepe odio natus distinctio, quod amet explicabo vel.</p>
        </div>
        <div>
            <img draggable="false" src="assets/img/persons/2.webp" alt="">
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam aliquam temporibus veniam facilis sint vero. Harum, laborum pariatur cumque voluptate consequatur iste saepe odio natus distinctio, quod amet explicabo vel.</p>
        </div>
        <div>
            <img draggable="false" src="assets/img/persons/3.webp" alt="">
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam aliquam temporibus veniam facilis sint vero. Harum, laborum pariatur cumque voluptate consequatur iste saepe odio natus distinctio, quod amet explicabo vel.</p>
        </div>
        <div>
            <img draggable="false" src="assets/img/persons/4.webp" alt="">
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam aliquam temporibus veniam facilis sint vero. Harum, laborum pariatur cumque voluptate consequatur iste saepe odio natus distinctio, quod amet explicabo vel.</p>
        </div>
    </div>
    
</section>


<section>
    <h2>Quer saber mais?</h2>
    <div class="know-more">
        <input type="email" name="" id="" placeholder="Email">
        <button>Cadastrar</button>
    </div>
</section>

<section id="sponsors">
    <h2>Patrocinadores</h2>
    <div class="sponsors">
        <div>
            <img src="" alt="">
        </div>
        <div>
            <img src="" alt="">
        </div>
        <div>
            <img src="" alt="">
        </div>
        <div>
            <img src="" alt="">
        </div>
        <div>
            <img src="" alt="">
        </div>
    </div>
</section>