<section id="exhibitors">
    <h2>Expositores</h2>
    <div class="exhibitors">
        <div>
            <img src="assets/svg/examples/1.svg" alt="">
            <p>Exemplo 1</p>
        </div>
        <div>
            <img src="assets/svg/examples/2.svg" alt="">
            <p>Exemplo 2</p>
        </div>
        <div>
            <img src="assets/svg/examples/3.svg" alt="">
            <p>Exemplo 3</p>
        </div>
        <div>
            <img src="assets/svg/examples/4.svg" alt="">
            <p>Exemplo 4</p>
        </div>
        <div>
            <img src="assets/svg/examples/5.svg" alt="">
            <p>Exemplo 5</p>
        </div>
        <div>
            <img src="assets/svg/examples/6.svg" alt="">
            <p>Exemplo 6</p>
        </div>
    </div>
</section>