::-webkit-scrollbar {
    height: 4px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #002f3f;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #001f29;
  }

section {
    padding: 3rem 0;
  
    width: 100%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
  background: rgb(50, 119, 162);
  background: linear-gradient(
    0deg,
    rgba(50, 119, 162, 1) 0%,
    rgba(59, 137, 185, 1) 100%
  );
  }

  section .sponsors {
    overflow-x: scroll;
    justify-content: space-between;
  }

  section .sponsors p {
    text-align: center;
  }
  section .sponsors {
    display: flex;
    gap: 3rem;
  }
  section .sponsors img {
    width: 8rem;
    height: 8rem;
  }
  
  section .sponsors {
    display: flex;
    gap: 2rem;
    width: 90%;
    overflow-x: auto;
    justify-content: space-evenly;
    align-items: center;
    height: 16rem;
  }
  section h2 {
    text-transform: uppercase;
    user-select: none;
  }
  section .sponsors div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 1rem;
    border-radius: 15px;
    border-bottom: 5px solid #3b89b9;
    border-left: 5px solid #3b89b9;
    box-shadow: 0px 0px 10px 4px #0000005e;
    height: 11rem;
  }
  section .sponsors img {
    width: 8rem;
    height: 8rem;
  }