
nav {
    display: flex;
    width: 100%;
    min-height: 100svh;
    overflow: hidden;
    background-image: url(../../assets/img/background.webp);
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

nav p {
    
    color: #fff;
    font-size: 3rem;
    user-select: none;
    margin: 0.5rem;
}
nav span {
    font-size: 2rem;
    color: #54d4fc;
}
nav h1 {
    font-size: 5.5rem;
}
nav h2 {
    font-size: 2rem;
    text-transform: uppercase;
}
nav h1,nav h2 {
    color: #fff;
    margin: 0;
    user-select: none;
}
nav a {
    color: #002f3d;
    background-color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    padding: 1rem;
    transition: 0.3s;
}

nav a:hover {
    padding: 2rem;
}

nav div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}